<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="FilterExtremumPre" value="0" />
		<add key="IsFilter" value="False" />
		<add key="SampleIntervalMs" value="0" />
		<add key="Span" value="6" />
		<add key="WindowSize" value="14" />
		<add key="MaxMeasuredCount" value="3" />
		<add key="MaxTestMeasuredCount" value="2" />
		<add key="CalibrationDiameter" value="1" />
		<!--补偿增益系数开关 0:关闭 1:开启-->
		<add key="LearningRate" value="0" />
		<add key="OverNum" value="1.5" />
		<add key="ExcludeCount" value="5" />
		<!--强制拉取开关 0:关闭 1:开启-->
		<add key="IsPull" value="1" />
		<add key="PullTolerance" value="0.001" />
		<add key="Pull4Tolerance" value="0.005" />
		

	</appSettings>
	<!-- 数据库连接 -->
	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="server=localhost;port=3306;database=measure_db;uid=root;pwd=root1234;charset=utf8;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<!-- Entity Framework 配置 -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="MySql.Data.MySqlClient"
					  type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
		</providers>
	</entityFramework>

	<!-- ADO.NET 提供程序 -->
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".NET Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
		</DbProviderFactories>
	</system.data>
</configuration>