<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- SQL 日志，每天生成新文件 -->
		<target name="sqlFile" xsi:type="File"
                fileName="D:/logs/sql/${shortdate}.sql.txt"
                layout="${longdate}|${level:uppercase=true}|${message}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />

		<!-- 生产过程日志，每天生成新文件 -->
		<target name="productionFile" xsi:type="File"
                fileName="D:/logs/production/${shortdate}.txt"
                layout="${longdate}|${level:uppercase=true}|${message}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />

		<!-- PLC通讯日志，每天生成新文件 -->
		<target name="plcFile" xsi:type="File"
                fileName="D:/logs/plc/${shortdate}.txt"
                layout="${longdate}|${level:uppercase=true}|${message}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />

		<!-- PLC心跳通讯日志，每天生成新文件 -->
		<target name="heartbeatFile" xsi:type="File"
                fileName="${basedir}/logs/plc/heartbeat/${shortdate}.txt"
                layout="${longdate}|${level:uppercase=true}|${message}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />

		<!-- 过滤数据日志，每天生成新文件 -->
		<target name="filterDataFile" xsi:type="File"
                fileName="${basedir}/logs/plc/filter/${shortdate}.txt"
                layout="${longdate}|${level:uppercase=true}|${message}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />

		<!-- 测量数据日志，每天生成新文件 -->
		<target name="processDataFile" xsi:type="File"
                fileName="${basedir}/logs/plc/process/${shortdate}.txt"
                layout="${longdate}|${level:uppercase=true}|${message}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />


		<!-- 错误日志，每天生成新文件 -->
		<target name="errorFile" xsi:type="File"
                fileName="${basedir}/logs/error/${shortdate}.txt"
                layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString}"
                keepFileOpen="false"
                concurrentWrites="true"
                autoFlush="true"
                createDirs="true" />

		<!-- 控制台日志 -->
		<target name="console" xsi:type="Console"
                layout="${longdate}|${level:uppercase=true}|${message}" />
	</targets>

	<rules>
		<!-- 生产过程 Logger -->
		<logger name="Production*" minlevel="Info" writeTo="productionFile,console" />

		<!-- PLC Logger -->
		<logger name="Plc*" minlevel="Info" writeTo="plcFile,console" />

		<!-- FilterData -->
		<logger name="FilterData*" minlevel="Info" writeTo="filterDataFile,console" />

		<!-- ProcessData -->
		<logger name="ProcessData*" minlevel="Info" writeTo="processDataFile,console" />
		<!-- PLC Heartbeat -->
		<logger name="Heartbeat*" minlevel="Info" writeTo="heartbeatFile,console" />

		<!-- 错误 Logger -->
		<logger name="*" minlevel="Error" writeTo="errorFile,console" />

		<!-- 其他普通信息 -->
		<logger name="*" minlevel="Info" writeTo="console" />

		<!-- SQL Logger -->
		<logger name="SQL*" minlevel="Info" writeTo="sqlFile,console" />
	</rules>
</nlog>
